body {
    margin : 0;
    padding: 0;
    background-color: rgb(46,46,46);
    color: rgb(236, 244, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#play-board {
    width: 500px;
    height: 260px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(19, 16, 196);
    gap: 10px;
    padding: 20px;
}


.play-card {
    text-align: center;                                      
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    line-height: 100px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    background-color:rgba(0,0,0,0.1);
    border: 1px solid rgb(25, 229, 195);
    vertical-align: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.play-card::before {
    content: attr(data-card-value); 
    position: absolute; 
    top: -20px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-weight: bold;
    font-size: 14px; 
}

.category-column{
    display: grid;
  grid-template-columns: repeat(1, 4fr);  
  grid-gap: 10px;
}




